<h1>Nowy zespół</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :coach %><br />
    <%= f.text_field :coach %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.label :league %>
    <%= f.select :league_id, @leagues.map {|p| ["#{p.name}, #{p.country}", p.id]}, :prompt => "Wybierz ligę" %>
  </p>
  

  <p>
    <%= f.submit 'Stwórz' %>
  </p>
<% end %>

<%= link_to 'Cofnij', teams_path %>
