<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Coach:</b>
  <%=h @team.coach %>
</p>

<p>
  <b>Image url:</b>
  <%=h @team.image_url %>
</p>

<p>
  <b>League:</b>
  <%=h @team.league.name %>
</p>

<h4>Players:</h4>
<% @players.each do |p| -%>
  <p><%= "#{p.shirt_number}, #{p.firstname} #{p.lastname}" %><p>
<% end -%>
<br />


<%= link_to 'Edit', edit_team_path %> 
<%= link_to 'Back', teams_path %>
