<h1>New league_table</h1>

<% form_for(@league_table) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :season %><br />
    <%= f.text_field :season %>
  </p>
  <p>
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.label :matches_quantity %><br />
    <%= f.text_field :matches_quantity %>
  </p>
  <p>
    <%= f.label :win_matches %><br />
    <%= f.text_field :win_matches %>
  </p>
  <p>
    <%= f.label :lost_matches %><br />
    <%= f.text_field :lost_matches %>
  </p>
  <p>
    <%= f.label :tied_matches %><br />
    <%= f.text_field :tied_matches %>
  </p>
  <p>
    <%= f.label :lost_goals %><br />
    <%= f.text_field :lost_goals %>
  </p>
  <p>
    <%= f.label :scored_goals %><br />
    <%= f.text_field :scored_goals %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', league_tables_path %>
