<h1>Edycja kolejki</h1>

<% form_for(@matchday) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :matchday_no %><br />
    <%= f.text_field :matchday_no %>
  </p>
  <p>
    <%= f.label :season %><br />
    <%= f.select :season_id,  @seasons.map { |s| ["#{s.season_no}: #{s.start_date} - #{s.end_date}", s.id]} %>
  </p>
  <p>
    <%= f.label :play_time %><br />
    <%= f.date_select :play_time %>
  </p>
  <p>
    <%= f.submit 'Zatwierdź' %>
  </p>
<% end %>

<%= link_to 'Pokaż', @matchday %> |
<%= link_to 'Cofnij', matchdays_path %>
