<h1>Editing matchday</h1>

<% form_for(@matchday) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :matchday_no %><br />
    <%= f.text_field :matchday_no %>
  </p>
  <p>
    <%= f.label :season %><br />
    <%= f.text_field :season %>
  </p>
  <p>
    <%= f.label :play_time %><br />
    <%= f.date_select :play_time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @matchday %> |
<%= link_to 'Back', matchdays_path %>