<h1>Nowy mecz</h1>

<% form_for(@match) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_1 %><br />
    <%= f.select :team_1, options_from_collection_for_select(@teams, 'id', 'name') %>
  </p>
  <p>
    <%= f.label :team_2 %><br />
    <%= f.select :team_2, options_from_collection_for_select(@teams, 'id', 'name') %>
  </p>
  <p>
    <%= f.label :matchday %><br />
    <%= f.select :matchday_id, @matchdays.map {|md| ["#{md.matchday_no}, #{md.play_time}", md.id]} %>
  </p>
  <p>
    <%= f.label :score_team_1 %><br />
    <%= f.text_field :score_team_1 %>
  </p>
  <p>
    <%= f.label :score_team_2 %><br />
    <%= f.text_field :score_team_2 %>
  </p>
  <p>
    <%= f.submit 'Stwórz' %>
  </p>
<% end %>

<%= link_to 'Cofnij', matches_path %>
