<div class="show">
    <h3><span class="name">Zespół 1: </span><%= !@match.team1.nil? ? (link_to( h(@match.team1.name), @match.team1)) : "Brak"  %></h3><br/> 
    <h3><span class="name">Zespół 2: </span><%= !@match.team2.nil? ? (link_to( h(@match.team2.name), @match.team2)) : "Brak" %></h3><br/>
    <span class="name">Kolejka: </span><%= !@match.matchday.nil? ? (link_to( h("#{@match.matchday.matchday_no} #{@match.matchday.play_time}"), @match.matchday)) : "Brak" %><br/>
    <span class="name">Bramki zespołu 1: </span><%=h @match.score_team_1 %><br/>
    <span class="name">Bramki zespołu 2: </span> <%=h @match.score_team_2%><br/>
</div>
<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
