<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%= stylesheet_link_tag "scaffold", :media => "all" %>
    <title>Strona domowa</title>
        
  </head>
  <body>
    <div class="banner">
        <%= image_tag('logo.jpg') %>
    </div>
    <div class="head">
      <div id="side"><br/>
        <%= link_to image_tag("buttons/home.jpg"), { :controller => "home" }, :class => "button" %> <br/><br/>
        <%= link_to image_tag("buttons/league.jpg"), { :controller => "leagues" }, :class => "button" %> <br/><br/>
        <%= link_to image_tag("buttons/team.jpg"), { :controller => "teams"}, :class => "button"  %><br/><br/>
        <%= link_to image_tag("buttons/player.jpg"), { :controller => "players"}, :class => "button"  %><br/><br/>
        <%= link_to image_tag("buttons/contract.jpg"), { :controller => "contracts"}, :class => "button"  %><br/><br/>
        <%= link_to image_tag("buttons/season.jpg"), { :controller => "seasons"}, :class => "button"  %><br/><br/>
        <%= link_to image_tag("buttons/matchday.jpg"), { :controller => "matchdays"}, :class => "button"  %><br/><br/>
        <%= link_to image_tag("buttons/match.jpg"), { :controller => "matches"}, :class => "button" %><br/><br/>
        <a href=".../shooters" class="button"><%= image_tag('buttons/shooter.jpg') %></a><br/><br/>
        <%= link_to image_tag("buttons/league_table.jpg"), { :controller => "league_tables"}, :class => "button" %><br/><br/>
        <a href=".../search" class="button"><%= image_tag('buttons/search.jpg') %></a><br/><br/>
                
      </div>
      <div id="main">
        <% if flash[:notice]  %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <% end  %>
          <%= yield :layout %>
      </div>
            
    </div>
    <div class="foot">
        <center>END</center>
    </div>
  </body>
</html>
